<script>
	jQuery(document).ready(function(){
		jQuery("#form_poitypes").validate();
	});
	
  function callAjax(method, value, target)
  {
    if(encodeURIComponent) {
      var req = new AjaxRequest();
      var params = "method=" + method + "&value=" + encodeURIComponent(value) + "&target=" + target;
      req.setMethod("POST");
      req.loadXMLDoc('/scripts/validate.php', params);
    }
  }
</script>
<%= form_for @poi_type, :html => { :multipart => true, :id => 'form_poitypes'} do |f| %>
  <% if @poi_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi_type.errors.count, "error") %> prohibited this poi_type from being saved:</h2>

      <ul>
      <% @poi_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name, :class => "required", :minlength => "2"%>
  </div>
  
    <div class="field">
    <%= f.label "Icono" %><br />
    <%= f.file_field :icon %>
  </div>
  
     <% if @poi_type.icon? %>
	<input type="checkbox" name="delete_icon" value="delete"> Eliminar imagen<br>
  <% end %>
 <%= image_tag @poi_type.icon.url(:high), :title => "icono actual" unless !@poi_type.icon? %>

  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
