<p id="notice"><%= params[:notice] %></p>

<%= form_for (@user), :url => {:action => :change_password}, :input_html => {:method => :post}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input id="id" name="id" value="<%= @id %>" HIDDEN/>
  <div class="field">
    <label for="old_pass">Antigua Contraseña</label><font style="color:red">*</font> <br />
    <input id="old_pass" name="old_pass" type="password"/>
  </div>

  <div class="field">
    <%= f.label :password, "Nueva Contraseña" %><font style="color:red">* (mínimo 6 caracteres)</font> <br /> 
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmación" %><font style="color:red">*</font> <br />
    <%= f.password_field :password_confirmation %>
  </div>

<font style="color:red"> *campos obligatorios</font>  <br /> <br />
  <div class="actions">
    <%= f.submit 'Cambiar contraseña', { :controller => "users", :action => "change_password" } %>
  </div>
<% end %>
