<p><%= link_to '<--Volver', :back %></p>
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.name %> 
</p>

<p>
  <b>Usuario/Email:</b>
  <%= @user.email %><%if !@user.university.nil?%>@<%=@user.university.email%> <%end%>
</p>

<% if !session[:admin].nil? || !session[:super_admin].nil? %>

<p>
  <b>Fecha registro:</b>
  <%= @user.created_at %> 
</p>
<p>
  <b>Fecha última modificación</b>
  <%= @user.updated_at %> 
</p>

<b>Privilegios:</b><br/>
<% @user.privileges.each do |priv|%>
	- <%= priv.description%> <br />
<%end%>
<%end%>
<br/>
<button><%= link_to 'Editar Usuario', edit_user_path(@user)  %></button>
<!-- 
<% if !session[:admin].nil? || !session[:super_admin].nil? %>
	<%= button_to 'Cambiar Constraseña', { :controller => "users", :action => "edit_password", :id => @user.id }  %>
<%end%>
-->