<script>
	jQuery(document).ready(function(){
		jQuery("#form_category").validate();
	});
	
  function callAjax(method, value, target)
  {
    if(encodeURIComponent) {
      var req = new AjaxRequest();
      var params = "method=" + method + "&value=" + encodeURIComponent(value) + "&target=" + target;
      req.setMethod("POST");
      req.loadXMLDoc('/scripts/validate.php', params);
    }
  }
</script>

<%= form_for @category, :html => { :multipart => true, :id => 'form_category'} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name, :class => "required", :minlength => "2"%>
  </div>

  <div class="field">
    <%= f.label "Icono" %><br />
    <%= f.file_field :icon %>
  </div>
  
   <% if @category.icon? %>
	<input type="checkbox" name="delete_icon" value="delete"> Eliminar imagen<br>
  <% end %>
 <%= image_tag @category.icon.url(:high), :title => "icono actual" unless !@category.icon? %>
  

  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
